@font-face { font-family: Harabara; src: url('Harabara.ttf'); }
* {
	margin:0;
	padding:0;
}

#behind {
	position:absolute;
	width:100%;
	height:4530px;
	background-image: url('Stadium.JPG');
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius:5px;
	z-index:1;
	padding:0;
}

#main {
	position:absolute;
	min-height: height;
	width:850px;
	background-color:white;
	z-index:3;
	background-size: cover;
	padding-left:75px;
	padding-top:14px;
}

.titleBack {
	background-color:#298A08;
	background-size:700px 100px;
	border-bottom:5px solid yellow;
	border-radius:20px;
	height:70px;
	width:750px;
}

#title{
	color:White;
	font-size:3em;
	font-family:Harabara;
	text-align:center;
	position:relative;
	top:8px;
}

#logo {
	background-image: url(http://upload.wikimedia.org/wikipedia/en/thumb/e/e8/WC-2014-Brasil.svg/719px-WC-2014-Brasil.svg.png);
	background-size:80%;
	height:400px;
	width:300px;
	position:fixed;
	left:1020px;
	top:20px;
	z-index:3;
	position:fixed;
	background-repeat:no-repeat;
}
/*Start the Rankings styling*/

#Rankings {
	font-size:1.2em;
	font-family: Century Gothic;
	text-align: center;
	border-collapse: collapse;
	position: relative;
	left:45px;
	width:70%;
}

#Rankings th {
	background-color:#CEE3F6;
	padding:15px;
	font-family:Harabara;
}

#Rankings tr td:nth-child(1) {
	padding: 5px;
}

#Rankings tr:nth-child(even) td:nth-child(1){
	background-color:#CEE3F6; 
}

#Rankings tr:nth-child(even) {
	background-color:#E0ECF8;
}


/*Start the Player Rankings styling */

#playerRankings{
	font-size: 1.2em;
	font-family: Century Gothic;
	text-align:center;
	border-collapse:collapse;
	left:45px;
	position:relative;
}

#playerRankings th {
	background-color:#D8F6CE;
	padding:15px;
	font-family:Harabara;
}

#playerRankings tr td:nth-child(1) {
	padding:5px;
}

#playerRankings tr:nth-child(even) td:nth-child(1){
	background-color:#D8F6CE; 
}

#playerRankings tr:nth-child(even) {
	background-color:#E6F8E0;
}



img {
	width:400px;
	height:500px;;
}


a:link {
	text-decoration:none;
	color:#848484;
}

a:visited {
	color:#848484;
}

a:hover {
	color:#A4A4A4;
}

span {
	font-weight:bold;
	font-family:Century Gothic;
}

/* jShowOff styling */
